.container
footer(class="footer")
    span(class="text-muted")
    a.footer-image(href="https://github.com/murphym757/bvblog" target="_blank")
      img(src="/assets/images/github.svg" style="height: 100px" "width: 180px")
    |
    |
    a(href="https://mauricemurphyjr.herokuapp.com" target="_blank")
      img(src="/assets/images/mmlogo.png" style="height: 80px" "width: 160px")
    br
    h6(class="lead") Copyright &copy; 2017
