nav.navbar.navbar-light.navbar-expand-md.bg-faded.mb-3
  a.navbar-brand(href="/") Bayside Vinyl
  button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbar1")
    span.navbar-toggler-icon
  div.collapse.navbar-collapse(id="navbar1")
    ul.navbar-nav.ml-auto
      if !currentUser
        a.nav-item.nav-link(href="/posts") View Posts
        a.nav-item.nav-link(href="/add") Add Post
        a.btn.btn-mintGreen(href="/registration") Sign Up/Log In
        
      if currentUser
        a.nav-item.nav-link(href="/posts") View Posts
        a.nav-item.nav-link(href="/add") Add Post
        a.nav-item.nav-link(href="/userProfile") My Profile
        a.btn.btn-mintGreen(href="/logout") Log Out
