@font-face {
  font-family: 'CaviarDreams';
  src: url("/assets/fonts/CaviarDreams_Bold.ttf");
  src: url("/assets/fonts/CaviarDreams_Bold.ttf?iefix") format("truetype");
  font-weight: bold;
  font-style: normal; }

img {
  max-width: 100%;
  height: auto; }

body {
  display: table;
  width: 100%;
  height: auto;
  text-align: center;
  background: url("/assets/images/Bayside.jpg") no-repeat bottom center scroll;
  background-color: #b8dacc;
  background-blend-mode: multiply;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

h1 {
  color: black; }

.homepage-card {
  background-color: #6d5e4c;
  opacity: 0.8;
  height: 100%; }

.card {
  background-color: #b8dacc;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

button {
  outline: none !important; }

.card-title {
  color: #6d5e4c;
  font-family: CaviarDreams;
  text-align: center; }

.card-text {
  color: #6d5e4c;
  text-align: center; }

.card-timing {
  color: #fdfdfd;
  font-family: CaviarDreams;
  text-align: center; }

.card-block {
  text-align: center; }

.post-seperator {
  display: block;
  color: black;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto; }

.standout-font {
  color: #b8dacc; }

.bayside-header {
  color: #b8dacc;
  font-family: CaviarDreams; }

.featurette-heading,
.homeparagraph,
.bayside-header-explanation,
.bayside-header-explanation-2 {
  color: #fdfdfd; }

.form-field {
  border-style: solid;
  border-color: #b8dacc; }

.form-field:focus {
  border-style: solid;
  border-color: #6d5e4c;
  background-color: #b8dacc; }

.form-group,
.post-body {
  color: #b8dacc; }

.username {
  color: #fdfdfd; }

.post-title {
  color: #fdfdfd;
  font-family: CaviarDreams; }

.error_message,
.created_date {
  color: #d3cab8; }

.footer,
.copyright {
  color: #6d5e4c; }

.footer-image {
  fill: black !important;
  stroke: magenta; }

.page-content,
.footer {
  display: table;
  width: 100%;
  height: auto;
  text-align: center; }

.bvbloglogo:hover,
.bvcollection:hover,
.bvthemegenerator:hover,
.bvofficial:hover,
.card:hover {
  -moz-animation-duration: 1s;
  -moz-animation-delay: 0.5s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-iteration-count: infinite; }

/*-----------------*/
/*Custom Bootstrap Button*/
.btn-mintGreen {
  color: #b8dacc;
  background-color: #6d5e4c;
  border-color: #b8dacc;
  font-family: CaviarDreams; }

.btn-mintGreen:hover,
.btn-mintGreen:focus,
.btn-mintGreen:active,
.btn-mintGreen.active,
.open .dropdown-toggle.btn-mintGreen {
  color: #6d5e4c;
  background-color: #b8dacc;
  border-color: #b8dacc; }

.btn-mintGreen:active,
.btn-mintGreen.active,
.open .dropdown-toggle.btn-mintGreen {
  background-image: none; }

.btn-mintGreen.disabled,
.btn-mintGreen[disabled],
fieldset[disabled] .btn-mintGreen,
.btn-mintGreen.disabled:hover,
.btn-mintGreen[disabled]:hover,
fieldset[disabled] .btn-mintGreen:hover,
.btn-mintGreen.disabled:focus,
.btn-mintGreen[disabled]:focus,
fieldset[disabled] .btn-mintGreen:focus,
.btn-mintGreen.disabled:active,
.btn-mintGreen[disabled]:active,
fieldset[disabled] .btn-mintGreen:active,
.btn-mintGreen.disabled.active,
.btn-mintGreen[disabled].active,
fieldset[disabled] .btn-mintGreen.active {
  background-color: #6d5e4c;
  border-color: #b8dacc; }

.btn-mintGreen .badge {
  color: #6d5e4c;
  background-color: #b8dacc; }

/*-----------------*/
.navbar {
  font-family: CaviarDreams;
  background-color: #6d5e4c;
  opacity: 0.8; }
  .navbar .navbar-brand {
    color: #b8dacc; }
    .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
      color: #fdfdfd; }
  .navbar .navbar-text {
    color: #b8dacc; }
  .navbar .navbar-nav .nav-link {
    color: #b8dacc;
    border-radius: .25rem;
    margin: 0 0.25em; }
    .navbar .navbar-nav .nav-link:not(.disabled):hover, .navbar .navbar-nav .nav-link:not(.disabled):focus {
      color: #fdfdfd; }
  .navbar .navbar-nav .dropdown-menu {
    background-color: #6d5e4c;
    border-color: #6d5e4c; }
    .navbar .navbar-nav .dropdown-menu .dropdown-item {
      color: #b8dacc; }
      .navbar .navbar-nav .dropdown-menu .dropdown-item:hover, .navbar .navbar-nav .dropdown-menu .dropdown-item:focus, .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
        color: #fdfdfd;
        background-color: #6d5e4c; }
    .navbar .navbar-nav .dropdown-menu .dropdown-divider {
      border-top-color: #6d5e4c; }
  .navbar .navbar-nav .nav-item.active .nav-link, .navbar .navbar-nav .nav-item.active .nav-link:hover, .navbar .navbar-nav .nav-item.active .nav-link:focus, .navbar .navbar-nav .nav-item.show .nav-link, .navbar .navbar-nav .nav-item.show .nav-link:hover, .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #fdfdfd;
    background-color: #6d5e4c; }
  .navbar .navbar-toggle {
    border-color: #6d5e4c; }
    .navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
      background-color: #6d5e4c; }
    .navbar .navbar-toggle .navbar-toggler-icon {
      color: #b8dacc; }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #b8dacc; }
  .navbar .navbar-link {
    color: #b8dacc; }
    .navbar .navbar-link:hover {
      color: #fdfdfd; }

@media (max-width: 575px) {
  .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #b8dacc; }
    .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #fdfdfd; }
  .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fdfdfd;
    background-color: #6d5e4c; } }

@media (max-width: 767px) {
  .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #b8dacc; }
    .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #fdfdfd; }
  .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fdfdfd;
    background-color: #6d5e4c; } }

@media (max-width: 991px) {
  .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #b8dacc; }
    .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #fdfdfd; }
  .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fdfdfd;
    background-color: #6d5e4c; } }

@media (max-width: 1199px) {
  .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #b8dacc; }
    .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #fdfdfd; }
  .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fdfdfd;
    background-color: #6d5e4c; } }

.navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #b8dacc; }
  .navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #fdfdfd; }

.navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #fdfdfd;
  background-color: #6d5e4c; }
