// Fonts
@font-face {
  font-family: 'CaviarDreams';
  src: url('/assets/fonts/CaviarDreams_Bold.ttf');
  src: url('/assets/fonts/CaviarDreams_Bold.ttf?iefix') format('truetype');
	font-weight: bold;
 	font-style: normal;
}

// Bayside Vinyl Color Scheme
$mintGreen     : #b8dacc;
$milkChocolate : #6d5e4c;
$frostyWhite   : #fdfdfd;
$sandBrown     : #d3cab8;
$fontColor     : black;

img {
	max-width: 100%;
	height: auto;
}

body {
display: table;
width: 100%;
height: auto;
text-align: center;
background: url('/assets/images/Bayside.jpg') no-repeat bottom center scroll;
background-color: $mintGreen;
background-blend-mode: multiply;
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

h1 {
  color: $fontColor;
}


.homepage-card {
  background-color: $milkChocolate;
  opacity: 0.8;
  height: 100%;
}
// post cards (list of posts)
.card {
  background-color: $mintGreen;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button{
 outline: none !important;
}

.card-title {
  color: $milkChocolate;
  font-family: CaviarDreams;
}

.card-text {
  color: $milkChocolate;
}

.card-timing {
  color: $frostyWhite;
}

.post-seperator {
  display: block;
  color: black;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

// homepage
.standout-font {
  color: $mintGreen;
}

.bayside-header {
  color: $mintGreen;
  font-family: CaviarDreams;
}

.featurette-heading,
.homeparagraph,
.bayside-header-explanation,
.bayside-header-explanation-2 {
  color: $frostyWhite;
}

// form
.form-field {
  border-style: solid;
  border-color: $mintGreen;
}

.form-field:focus {
  border-style: solid;
  border-color: $milkChocolate;
  background-color: $mintGreen;
}

.form-group,
.post-body {
  color: $mintGreen;
}

.username {
  color: $frostyWhite;
}

.post-title {
  color: $frostyWhite;
  font-family: CaviarDreams;
}

// includes (partials)
.header {

}

.error_message,
.created_date {
  color: $sandBrown;
}

.footer,
.copyright, {
  color: $milkChocolate;
}

.footer-image {
  fill: black !important;
  stroke: magenta;
}
// content (what appears between header & footer)
.page-content {

}


.page-content,
.footer {
  display: table;
  width: 100%;
  height: auto;
  text-align: center;
}

.bvbloglogo:hover,
.bvcollection:hover,
.bvthemegenerator:hover,
.bvofficial:hover,
.card:hover {
  -moz-animation-duration: 1s;
  -moz-animation-delay: 0.5s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-iteration-count: infinite;
}
/*-----------------*/

/*Custom Bootstrap Button*/
.btn-mintGreen {
  color: $mintGreen;
  background-color: $milkChocolate;
  border-color: $mintGreen;
  font-family: CaviarDreams;
}

.btn-mintGreen:hover,
.btn-mintGreen:focus,
.btn-mintGreen:active,
.btn-mintGreen.active,
.open .dropdown-toggle.btn-mintGreen {
  color: $milkChocolate;
  background-color: $mintGreen;
  border-color: $mintGreen;
}

.btn-mintGreen:active,
.btn-mintGreen.active,
.open .dropdown-toggle.btn-mintGreen {
  background-image: none;
}

.btn-mintGreen.disabled,
.btn-mintGreen[disabled],
fieldset[disabled] .btn-mintGreen,
.btn-mintGreen.disabled:hover,
.btn-mintGreen[disabled]:hover,
fieldset[disabled] .btn-mintGreen:hover,
.btn-mintGreen.disabled:focus,
.btn-mintGreen[disabled]:focus,
fieldset[disabled] .btn-mintGreen:focus,
.btn-mintGreen.disabled:active,
.btn-mintGreen[disabled]:active,
fieldset[disabled] .btn-mintGreen:active,
.btn-mintGreen.disabled.active,
.btn-mintGreen[disabled].active,
fieldset[disabled] .btn-mintGreen.active {
  background-color: $milkChocolate;
  border-color: $mintGreen;
}

.btn-mintGreen .badge {
  color: $milkChocolate;
  background-color: $mintGreen;
}
/*-----------------*/
// Bootstrap Navbar
$bgDefault     : $milkChocolate;
$bgHighlight   : $milkChocolate;
$colDefault    : $mintGreen;
$colHighlight  : $frostyWhite;
$dropDown      : true;
.navbar {
	font-family: CaviarDreams;
  background-color: $bgDefault;
  opacity: 0.8;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    .nav-link {
      color: $colDefault;
      border-radius: .25rem;
      margin: 0 0.25em;
      &:not(.disabled) {
        &:hover, &:focus {
          color: $colHighlight; }}}
    @if ($dropDown) {
      .dropdown-menu {
        background-color: $bgDefault;
        border-color: $bgHighlight;
        .dropdown-item {
          color: $colDefault;
          &:hover, &:focus, &.active {
            color: $colHighlight;
            background-color: $bgHighlight; }}
        .dropdown-divider {
          border-top-color: $bgHighlight; }}}
    .nav-item.active, .nav-item.show {
      .nav-link, .nav-link:hover, .nav-link:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .navbar-toggler-icon {
      color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 575px) {
  .navbar-expend-sm .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 767px) {
  .navbar-expend-md .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 991px) {
  .navbar-expend-lg .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 1199px) {
  .navbar-expend-xl .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
.navbar-expend .navbar-nav .show .dropdown-menu {
  .dropdown-item {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .dropdown-item.active {
    color: $colHighlight;
    background-color: $bgHighlight; }}
