//- webapps/bvcollection.pug

a(href="http://baysidevinyl.herokuapp.com/tracks" target="_blank")
  img(class="featurette-image bvcollection img-responsive center-block animated pulse" src="/assets/images/BV Collection.svg" height="200" width="200")
h2(class="bayside-header display-5 pt-4 lead") Bayside Collection
