//- add.pug
extends layout

block content
  div(class="post container")
    h2(class="lead post-title display-4 pb-4") Add Post
    form(method="POST" action="/posts")
      div(class="form-group")
        label(for="title") Title
        input(type="text" name="title" placeholder="Post Title" class="form-control")
      div(class="form-group pt-2 pb-3")
        label(for="body") Body
        textarea(name="body" placeholder="Post Body" class="form-control")
      div(class="submit-button pb-3")
        input(type="submit" value="Submit" class="btn btn-primary")
