//- add.pug
extends layout

block content
  div(class="post container")
    h2(class="lead post-title display-4 pb-4") Add Post
    form(method="POST" action="/posts")
      div(class="form-group")
        label(for="title") Title
        input.form-control(type="text" class="form-field" placeholder="Post Title" name="title")
      div(class="form-group pt-2 pb-3")
        label(for="body") Body
        textarea.form-control(type="text" class="form-field" placeholder="Post Body" name="body")
      div(class="form-group")
        label(for="soundcloud") Soundcloud
        input.form-control(type="text" class="form-field" placeholder="Soundcloud src" name="soundcloud")
      div(class="submit-button pb-3")
        button.btn.btn-mintGreen(type="submit")
          i(class="fas fa-thumbs-up")
