doctype html
html
  head
    title BV Blog

    <!-- Viewport mobile tag for sensible mobile support -->
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="description" content="")
    meta(name="author" content="Maurice Murphy")

    link(rel="stylesheet" type="text/css" href="/assets/styles/bootstrap/css/bootstrap-reboot.min.css")
    link(rel="stylesheet" type="text/css" href="/assets/styles/bootstrap/css/bootstrap-grid.min.css")
    link(rel="stylesheet" type="text/css" href="/assets/styles/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/assets/styles/css/animate.css")
    link(rel="stylesheet" type="text/css" href="/assets/styles/css/style.css")
    link(rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" )
    script(type="text/javascript" src="/assets/js/fontawesome-all.min.js")


    body
      include includes/navbar.pug
      .container-fluid
        div(class="homepage-card")
          //- First Section (Blog Introduction)
          h1(class="bayside-header display-4 pt-4") Welcome to Bayside Blog
          p(class="bayside-header-explanation p-4 lead") Heard any good songs lately? Feel free to post them down below.
          br
          block content
    include includes/footer.pug

    
    script(type="text/javascript" src="/assets/js/jquery/jquery-3.2.1.min.js")
    script(type="text/javascript" src="/assets/js/bootstrap-js/bootstrap.min.js")
