extends layout

block content
  

  div(class="main container")
    h1(class="bayside-header display-4 pt-4") 
  table(class="table table-striped")
    thead
      #{title}
    hr(class="post-separator")  
