extends layout

block content
  

  div(class="main container")
    p.lead.error_message.m-t-2= message_posts
    h1(class="bayside-header display-4 pt-4") 
  table(class="table table-striped")
    = title
    br
    = body
    hr(class="post-separator")  
