extends layout

block content
  -let valueId = id
  
  div.container.pb-5
    div.card.pb-5.pt-5
      h4.lead.text-capitalize.card-title #{title}
      h4.lead.card-text #{body}
      p.lead.font-italic #{creator}
        hr.post-seperator
      if !currentUser
        form(method="GET" action="/posts/")
          button.btn.btn-mintGreen(type="submit") View Posts
          
      if currentUser
      div.row.mx-auto
        li.button-icon
          form(method="POST" action="/update/" + id + "?_method=put")
            button.btn.btn-mintGreen(type="submit")
              i(class="far fa-edit")
        li.button-icon2
          form(method="GET" action="/delete/" + id onclick="return confirm('Are you sure you want to delete this post?');")
            button.btn.btn-mintGreen(type="submit")
              i(class="far fa-trash-alt")
