extends layout

block content
  div.container.pb-5
    div.card.pb-5.pt-5
      h4.lead.text-capitalize.card-title #{title}
      h4.card-text #{body}
      p.lead.font-italic #{creator}
        hr.post-seperator
      if !currentUser

      if currentUser
        form(method="DELETE" action="/posts/" onclick="return confirm('Are you sure you want to delete this post?');")
          button.btn.btn-mintGreen(type="submit") Delete
